{% extends "base.html.twig" %}

{% block title %}User queries{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block body %}
  <div class="col-10" style="width:100%; margin: auto;">
    <h1 style="text-align: center;">User queries</h1>
    <table class="table  table-hover" id="query">
      <thead>
      <tr>
        <th scope="col">Query</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for item in details %}
        <tr>
          <td><b>{{ item.query.name }}</b></td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.query.dateTime|date('Y-m-d H:i') }}</td>
          <td>

            <form action="/delete" method="post">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="id" value="{{ item.query.id }}" />
              <button type="submit" class="btn btn-small">
                <i class="fa fa-trash"></i>
              </button>
            </form>

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <a href="/create" class="btn btn-primary"> Create new </a>
    <a href="#" class="btn btn-primary" onclick="download_table_as_csv('query');">Download as CSV</a>

  </div>
{% endblock %}

{% block scripts_footer %}
  {{ parent() }}
  <script>
  $(document).ready(function() {
    $('#query').DataTable();
  });
  function download_table_as_csv(table_id, separator = ',') {
    // Select rows from table_id
    var rows = document.querySelectorAll('table#' + table_id + ' tr');
    // Construct csv
    var csv = [];
    for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll('td, th');
      for (var j = 0; j < cols.length; j++) {
        // Clean innertext to remove multiple spaces and jumpline (break csv)
        var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
        // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
        data = data.replace(/"/g, '""');
        // Push escaped string
        row.push('"' + data + '"');
      }
      csv.push(row.join(separator));
    }
    var csv_string = csv.join('\n');
    // Download
    var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
    var link = document.createElement('a');
    link.style.display = 'none';
    link.setAttribute('target', '_blank');
    link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }
  </script>
{% endblock %}

